<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<style>
		*{
			font-family: 微软雅黑;
		}
	</style>
	<link rel="stylesheet" href="bs/css/bootstrap.min.css">
	<script src="bs/js/jquery.min.js"></script>
	<script src="bs/js/bootstrap.min.js"></script>
	<script src="ng/angular.min.js"></script>
</head>
<body ng-app="myapp" ng-controller="myctl"><!-- myapp出来，mycontroller就一定会出来 --><!-- 要为ng加上作用域才有效 --> 
	<div class="container">
		<h1 class="page-header">angularjs学习</h1>
		<form action="">
			<div class="form-group">
				<label>请留言：</label>
				<!-- m-数据模型 -->
				<input type="text" class="form-control" ng-model="mess"><!-- 空白的输入框 --><!-- ng-model="mess"数据来源--输入框中的内容 -->
			
			</div>
			<!-- v-数据输出 -->
			<div class="well">小阳阳：{{mess}}</div>
		</form>
	</div>
</body>
<script>//c-控制器(controller)
app=angular.module('myapp',[]);
app.controller('myctl',function($scope){  //$scope就是s和v中间交流数据的那个对象
	//控制器代码逻辑范围
	$scope.mess="linux is very much!!";//这里是赋的初值

})
//双向绑定--->  v向c取值，当c的值(mess)发生改变的时候，m(model)的值也改变了，
</script>
</html>