
/* 这里放网页的样式 */
*{
	font-family: 微软雅黑;
	margin: 0px;/* 上面有一条灰色的div‘欢迎登陆网站’是左右满屏的，去掉margin和padding;下面的商品详情不是满屏，是宽1200px;最下面的配送信息啥的又是满屏黑框 */
	padding: 0px;
}

body{
	background: #666;/* 整个网页的背景颜色是灰色； */
}

.main{/* 这个容器用来装载上述的商品详情1200px的内容大块 *//* 主要是定个宽度1200px，宽度不用他管 */
	width: 1200px;
	/* background: #aaf; */
	margin: 0 auto;
}


/* (1)这里是最上的长条导航 */
.top{
	height: 26px;
	background: #F2F2F2;
}

.topmain{
	width: 1200px;
	height: 100%;
	line-height: 26px;
}

.ceo{
	color: #c00!important;
	text-decoration: none;
}
.cart{/* 购物车件数的数字 */
	color: #cc0001;
	font-weight: bold;
	text-decoration: none;
}
.shequ{
	color: #999;
	text-decoration: none;

}
.shouji{
	color: #fff!important;
	text-decoration: none;
	background: #cc0001;

}
.dianhua{
	color: #cc0001;
	font-weight: bold;
	text-decoration: none;
}
.topmain{
	margin: 0 auto;
	color: #999;
}
.topmain .left{/* 导航条左div左浮 */
	float: left;
}

.topmain .left a{
	color: #999;
	text-decoration: none;
}

.topmain .right{/* 导航条右div右浮 */
	float: right;

}

.topmain .right a{
	color: #999;
	text-decoration: none;
}

.top a:hover{/* 增加滑动样式 */
	color: #cc0001;
	text-decoration: underline;
}

.top .right .myjiuxian{
	float: left;
	width: 90px;/* 照顾到下拉列表里-’我的优惠券‘的宽度 */
}
.top .right .myjiuxian .top{/* 下拉菜单中的第一项-’我的酒仙‘ */
	background: #F2F2F2;
	padding: 0px 5px;/* 上下0px;左右5px; */
}
.top .right .myjiuxian .down{/* 下拉菜单的下拉部分 */
	background: #fff;
	display: none;/* 默认让下拉部分内容消失 */
}

.top .right .myjiuxian .down ul{
	list-style: none;/* 去掉ul-li里面--前面的小点点； */
	padding: 0px 5px;/* 上下0px;左右5px; */
}

.top .caret{/* 我的酒仙后面-小三角 */

	display: inline-block;/* 这个小caret本身没有宽高；把它变成一定的块标签 */
	width: 9px;
	height: 8px;
	background: url('../img/caret.png') no-repeat -99px 6px;/* 这个图片需要定位到里面的小三角；里面有很多小图案 */
	
}


/* (2)这是长条图片 */
.banner a{/* a链接本身是行标签，没有宽高，要设置成block； */
	display: block;
	width: 100%;
	height: 90px;
	background: url('../img/bigimg.jpg') no-repeat top center;/* y轴是top;x轴是居中 *//* 上一级目录下的img里面的 */
}


/* (3)这是白色图块：logo+huodong+搜索框+yunfei  */
.midHeader{
	height: 125px;
	background: #fff;
}
.midHeader-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding-top: 30px;/* 让图片垂直居中； */
}

.midHeader-main .logo{
	float: left;
}

.midHeader-main .huodong{
	float: left;
	margin-left: 15px;
}
.midHeader-main .find{/* 搜索框 */
	float: left;
	width: 540px;
	height: 61px;
	margin-left: 15px;
}

.midHeader-main .yunfei{
	float: right;
	width: 363px;
	height: 43px;
	background: url('../img/yunfei.png');
}

.midHeader-main .down{
	height: 18px;
	line-height: 18px;
}

.midHeader-main .find .down{
	color: #666;
	margin-top: 10px;
}
.midHeader-main .find .down a{
	font-size: 12px;
	text-decoration: none;
	color: #666;
}

.midHeader-main .find .down a:hover{/* 鼠标往上一划有样式 */
	color: #cc0001;
}

.shuxian{  /* 搜索框下面的酒种类之间的竖线 */
	width: 0px;
	height: 12px;
	border-left: 1px solid #999;
	margin-left: 10px;
	margin-right: 2px;

}
.midHeader-main .find .top{/* 这个外面的边框厚度是3px，那么高度就要>25px */
	height: 30px;
	border: 3px solid #c00;
}

.midHeader-main .find .top .search-form{
	width: 448px;
	height: 25px;
	border: none;
	color: #666;
	float: left;
}
.midHeader-main .find .top .search-form:focus{
	outline: none;/* 鼠标点击，框内就没有东西了 */
}

.midHeader-main .find .top .search-btn{
	width: 85px;
	height: 25px;
	text-align: center;
	border: 0px;
	background: #c00;
	float: right;
	color: #fff;
	font-size: 16px;
}
.midHeader-main .find .top .search-btn:focus{
	outline: none;
}


/* (4)这是幻灯片上面的小导航条样式 */
.nav{
	height: 34px;
	background: #900;
}

.navmain{
	width: 1200px;
	height: 34px;
	margin: 0 auto;
	font-size: 14px;
}

.navmain .left{
	width: 190px;
	height: 34px;
	background: #CE171F;
	color: #fff;
	text-align: center;
	cursor: pointer;
	float: left;/* 这里也要浮动，下面的navmain center浮动才能正常 */
}
.navmain .left h2{
	font-size: 14px;
	line-height: 34px;/* 目标元素的line-height大小等于父类元素的height大小,可以实现垂直居中 */
	margin: 0px;
}

.navmain .center{
	height: 34px;
	width: 890px;
	float: left;
}
.navmain .center a{
	text-decoration: none;
	color: #fff;
}

.navmain .center ul{
	list-style: none;
}

.navmain .center ul li{
	float: left;
	line-height: 34px;/* 行高与父元素高度相同---让他垂直居中 */
	margin-right: 15px;
	padding: 0px 10px;/* 内边距 */
}
.navmain .center ul li:hover{/* 鼠标只要放上去就变成小手 */
	cursor: pointer;
}

.navmain .right{
	height: 34px;
	float: right;
}


/* (5)幻灯片区域 */
.chucuo{
	height: 470px!important;
}
.carousel-control{/* 让左右控制器侧不出现灰色渐变背景，只有去点击左右箭头时才会出现灰色背景渐变 */
	opacity: 0.0;
}

/* (6)这是幻灯片左侧导航实现 */
.leftmenu{
	height: 470px;
	margin: 0px;/* 要不导航条下面总是会出现margin-bootom: 10px; */
	background: #fff;
	position: relative;/* 这两句是为了让这个导航框处在上面的位置 */
	z-index: 1;
	list-style: none;
}
.leftmenu .leftnav{/* 鼠标放上leftmenu li，有红色左边框出现--配合js */
	width: 4px;
	height: 77px;
	background: #CE171F;
	position: absolute;/* 让他漂在上面 */
	display: none;/* 默认隐藏 */
}
.leftmenu li.menuli{
	height: 77px;/* 470/4 */
	border-bottom: 1px solid #e4e4e4;
}

.leftmenu li.menuli:hover{/* 鼠标往上一划左边多了一点红色边框(在leftmenu-leftnav设置) 并且背景颜色变化 */
	background: #f1f1f1;
}
.leftmenu .menutop{
	height: 32px;
	line-height: 32px;
	margin-bottom: 0px;
	color: #fff;
}
.leftmenu .menutop i{
	background: url('../img/tu.png') -73px -260px;
	display:inline-block;/* 让他是行内标签 */
	width: 14px;
	height: 20px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

.leftmenu .menutop a{
	text-decoration: none;
	color: #000;
	font-size: 16px;
	float: left;
	margin-left: 15px;

}
.leftmenu .menudown{
	overflow: hidden;/* 超出则隐藏 */
	height: 45px;/* 77一大块-32一键选酒 */
	font-size: 12px;
	padding-left: 15px;
	color: #000;
}

.leftmenu .menudown p{
	height: 20px;
	margin-bottom: 0px;
	text-align: left;/* 文字-左边对齐 */
}

.leftmenu .menudown p a{
	text-decoration: none;
	color: #666;
}
.leftmenu .rightdiv{/* 配合js---要把这个属于右侧的div定位到合适的位置，可以相对于左div-leftmenu进行定位 */
	color: #000;
	width: 800px;
	height: 470px;
	background: #E4E3E9;
	position: absolute;/* 必须是绝对定位 */
	display: none;/* 默认不显示；鼠标移上去再显示 */
	z-index: 111;/* 幻灯片下面小点点的z-index设置成是10，要比他高 */
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	opacity: 0.9;
}
.carousel-indicators{
	z-index: 1!important;/* 幻灯片下面小点点的z-index设置成是10 */
}


/* (7)幻灯片下-标签页的实现 */
.contentFirst{/* 标签页总体div */
	margin-top: 10px;/* 与上面的幻灯片有一定距离 */
	height: 500px;
	background: #fff;
}
    /* --(7)幻灯片下标签页-左大块div */
.contentFirst .indexTabBox{/* 这是左侧的大div */
	width: 920px;
	height: 499px;
	/* background: #000; */
	float: left;/* 左浮动 */
}

.contentFirst .indexTabRight{/* 这是右侧的大div */
	width: 270px;
	height: 500px;
	/* background: #666; */
	float: right;/* 右浮动 */
}

.contentFirst .indexTabNav{/* 左-上侧导航条 */
	height: 38px;
/* 	background: #faa; */
}

.contentFirst .indexTabNav ul{
	list-style: none;
	margin-bottom: 0px;
}
.contentFirst .indexTabNav ul li{
	width: 185px;
	height:38px;
	line-height: 38px;
	float: left;
	border-left: 1px solid rgb(236,236,236);
	border-top: 2px solid rgb(236,236,236);
	border-right: 1px solid rgb(236,236,236);
	border-bottom: 1px solid rgb(236,236,236);
	text-align: center;
	font-size: 18px;
	color: rgb(102,102,102,102);
	cursor: pointer;
}
.contentFirst .indexTabNav .on{/* 属性on-鼠标点到左div-导航条的哪一块，那一块就加个边框 */
	width: 179px;
	border-top: 4px solid #c00;/* 上边框-红色 */
	border-bottom: 1px solid #fff;/* 下边框-白色 */
	color: #c00;
	line-height: 35px;
	background: #fff;
}

.contentFirst .indexTabConWrap{/* 左-下内容 */
	height: 461px;
	/* background: #faf; */
	border: 1px solid rgb(236,236,236);
	border-top: 1px solid #fff;
}

.contentFirst .indexTabNew{/* 右大块div-上 */
	height: 140px;
	/* background: #ffa; */
}
.contentFirst .indexTuanBox{/* 右大块div-中 */
	height: 157px;
	background: #afa;
	margin-top: 10px;
	border: 1px solid #ececec;/* 有个边框 */	
}
.contentFirst .indexAdFocus{/* 右大块div-下 */
	height: 178px;
	background: #aaf;
	margin-top: 10px;	
	border: 1px solid #ececec;/* 有个边框 */
}

.contentFirst .indexTabConWrap ul{/* 左-下内容 */
	list-style: none;
}
.contentFirst .indexTabConWrap ul li{/* 左-下内容-十个图片 */
	width: 182px;
	height: 215px;
	/* background: #eee; */
	float: left;
	margin-top: 15px;
	margin-left: 1px;
	text-align: center;/* 让图居中 */

}
.contentFirst .indexTabConWrap .indexTabPic{/* 这里放的是图片，给点上边距 */
	margin-top: 10px;
}
.contentFirst .indexTabConWrap ul li a{ /* 左下-中文详情-字 */
	font-size: 12px;
	color: #666;

}
.contentFirst .indexTabConWrap ul li p{/* 左下-价格 */  /* 文字、价格都在p标签里面 */
	font-size: 15px;
	color: #c00;
	text-align: left;/* 文字价格都是左对齐的 */
	padding: 0px 10px;/* 留点边距 */
	margin-bottom: 0px;
	white-space: nowrap;/* 以下三句话：文字满溢--留下三个小点点 */
	overflow: hidden;
	text-overflow: ellipsis;
}
.contentFirst .indexTabConWrap{/* 先让左下所有内容都隐藏掉 *//* js-让第一个显示；达到标签页转换效果 */
	display: none;
}
    /* --(7)幻灯片下标签页-右大块div */
         /* (7)幻灯片下标签页-右大块div--右上-小标签页 */
.contentFirst .indexTabNewNav{/* 右上-小标签页-头部 */
	height: 35px;
	/* background: #aaf; */
}
.contentFirst .indexTabNewNav ul{
	list-style: none;
	margin-bottom: 0px;
}
.contentFirst .indexTabNewNav li{
	width: 135px;
	height: 35px;
	/* background: #faa; */
	border-left: 1px solid #ECECEC;
	border-top: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
	float: left;
	font-size: 16px;
	text-align: center;/* 水平居中 */
	line-height: 35px;/* 垂直居中 */
	cursor: pointer;
}
.contentFirst .indexTabNewNav li.on{/* 当鼠标移到-小标签页-头部 */
	border-top: 4px solid #c00;
	border-bottom: none;
	background: #fff;
	color: #c00;
}

.contentFirst .indexTabNewCon{/* 右上-小标签页-体部 */
	height: 105px;
	background: #ffa;
}
.contentFirst .indexTabNewCon ul{/* 右上-小标签页-体部 */
	list-style: none;
	margin-bottom: 0px;
}
.contentFirst .indexTabNewCon a{
	text-decoration: none;
	font-size: 12px;
	color: #666;
}

.contentFirst .indexTabNewCon li{
	float: left;
	width: 114px;
	height: 28px;
	white-space: nowrap;/* 以下三句话：文字满溢--留下三个小点点 */
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 15px;
	margin-top: 7px;
}

        /* (7)幻灯片下标签页-右大块div--右中-小幻灯片1 */
.chucuo1-1{
	height: 159px!important;
}
.ppt1-1 .carousel-control{/* 让左右控制器侧不出现灰色渐变背景，只有去点击左右箭头时才会出现灰色背景渐变 */
	opacity: 0.0;
}
        /* (7)幻灯片下标签页-右大块div--右下-小幻灯片2 */
.chucuo1-2{
	height: 178px!important;
}
.ppt1-2 .carousel-control{
	opacity: 0.0;
}


/* (8)中间大背景：里面放三个a链接-3个图片 */ 
.loadFirst{
	height: 130px;
	background: url('../img/changimg(8).jpg') no-repeat;/* no-repeat不让他重铺，不重铺下面会有一块区域空白;感觉像酒瓶子站在背景上，有立体的效果 */
	margin-top: 10px;

}
.loadFirst ul{
	list-style: none;
}
.loadFirst ul li{
	float: left;
	margin-left: 90px;
}


/* (9)优惠推荐-长条幻灯片实现 */
.raceBox{
	height: 299px;
	/* background: #aaf; */
	margin-top: 10px;
}

.raceBox .titleBox{/* 上排标题 */
	height:40px ;
	color: #333;
}
.raceBox .title_2{
	float: left;
	margin-top: 10px;
	font-size: 17px;
}

.raceBox .titleBox .newIndexIcon{/* 上排标题-左-小图标 */
	background: url('../img/beijing(9).png') no-repeat 0 0;
	width: 20px;
	height: 20px;
	display: inline-block;/* 让它变成块标签 */
	vertical-align: middle;/* 垂直居中 */
	float: left;
}
.raceBox .titleBox span{/* 上排标题-左-文字 */
	margin-left: 5px;
}
.raceBox .rightNavBox{
	height: 9px;
	float: right;
	margin-top: 10px;
}
.raceBox .rightNavBox span{/* 上排标题-右-三个小点点 */
	width: 9px;
	height: 9px;
	display: inline-block;
	background: #ccc;
	margin-left: 14px;
	cursor: pointer;
	vertical-align: middle;
}
.raceBox .rightNavBox span.on{/* 当鼠标移到小点点上面时，加上属性on，配合js实现特效 */
	background: #f00;
}
.raceBox .raceListWrap{/* 下面幻灯片视图-主要图文内容 */
	width: 1193px;/* 198*6 */
	height: 259px;
	/* background:#afa; */
	border: 1px solid #ececec;
	background: #fff;
	position: relative;/* 父相对 */
	overflow: hidden;/* 超出视图就隐藏 */
}

.raceBox .raceListWrap .raceLeft{/* (9)下面幻灯片的左箭头 */
	background: url('../img/beijing(9).png') no-repeat 0px -28px;
	width: 27px;
	height: 56px;
	display: block;/* 使他变成块标签 */
	position: absolute;/* 注意定位-子绝对 */
	top: 50%;
	cursor: pointer;
	margin-top: -28px;/* 定位到中间 */
}
.raceBox .raceListWrap .raceRight{/* (9)下面幻灯片的右箭头 */
	background: url('../img/beijing(9).png') no-repeat -28px -28px;
	width: 27px;
	height: 56px;
	display: block;
	position: absolute;
	top: 50%;
	right: 0px;/* 相对于右上角的定位，定位到中间 */
	cursor: pointer;
	margin-top: -28px;
}
.raceBox .raceList ul{
	list-style: none;

}
.raceBox .raceList ul li{
	width: 198px;
	height: 257px;
	background: #000;
	float: left;
	margin-left: 1.2px;
}
.raceBox .raceBoxs{/* 下面的长幻灯片内图文内容,总长是3600；包含三个大长块 */
	width: 3600px;

}





.main h1{
	background: #fff;
	border: 0px;
	margin: 0px;
}